{%- for note in collections.note -%}
  {%- if note.filePathStem == page.filePathStem -%}
    <div class="foobar" data-callout="info">
      <pre>{{ note.data | dump }}</pre>
    </div>
  {%- endif -%}
{%- endfor -%}



